

/*menu bar*/
.navbar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-item:hover{
  background-color: rgba(0,0,255,0.5);
}
/*Slide Show*/
#carouselExampleCaptions{
  max-width: 100rem;
  padding: 0.1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}

.carousel-item .image{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-caption{
    display: block;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.contol-slide{
  width: 5%;
}
.contol-slide:hover {
  background-color: rgba(240,240,240,0.3);
}

/*End Slide Show*/

/*Categories Bar*/
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: red;
}

.cat-content-group{
  position: relative;
  list-style: none;
  padding: 0;
  background-color: rgba(244, 244, 244, 0.7);
}

.cat-content-IT {
  border-left: 0.2rem solid #005a87;
}
.cat-content-IT:hover, .cat-content-IT:hover .link-cat-content:hover{
  color: white;
  background-color: #005a87;
}

.cat-content-Design{
  border-left: 0.2rem solid #fbff01;
}
.cat-content-Design:hover, .cat-content-Design:hover .link-cat-content:hover{
  color: white;
  background-color: #fbff01;
}

.cat-content-Business{
  border-left: 0.2rem solid #57ff01;
}
.cat-content-Business:hover, .cat-content-Business:hover .link-cat-content:hover{
  color: white;
  background-color: #57ff01;
}

.cat-content-Art{
  border-left: 0.2rem solid #ffc107;
}
.cat-content-Art:hover, .cat-content-Art:hover .link-cat-content:hover{
  color: white;
  background-color: #ffc107;
}

/*Content*/
a .image-cate{
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.tag-cate-IT{
  color: #005a87;
  font-weight: bold;
}
.tag-cate-Design{
  color: #fbff01;
  font-weight: bold;
}
.tag-cate-Business{
  color:#57ff01;
  font-weight: bold;
}
.tag-cate-ART{
  color: #ffc107;
  font-weight: bold;
}

.tag-cate{
  max-height: 800px
}
/*Footer*/
footer{
  background-color: #373941;
  color: white;
}
.footer-content-group{
  list-style: none;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer-content a{
  color: white;
}

.text-post-popular h6:hover{
  color: red;
}
.text-post-popular h6{
  height: 3.85rem;
  white-space: normal;
  overflow: hidden;

}


@media (max-width: 576px) {

}

@media (max-width: 768px) {
  .container{
    width: 80%;
  }
}

@media (min-width: 768.98px) {
  .container{
    width: 70%;
  }
}

