@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
@{ var x = Session["username"];} 
<a href="@Url.Action("Logout","Home")" class="btn btn-danger">Logout</a>
<script>
    alert("Welcome" + x);
</script>

